*{
    margin:0;
}

I B{font-size: 18;
    color: pink;
    background-color: green;
    
}
B+I {color: blue;}
I+DEL{color: orange;}
p>B{color: springgreen;}
:root {
    --nav-width: 30%;
}

div.main::-webkit-scrollbar,
div.footer::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0px;
}

div.nav {
    left: 0;
    width: var(--nav-width);
    height: 90%;
    overflow: hidden;
    /* background-color:cornsilk; */
    background: repeating-radial-gradient(#ed2222, #150d0d 35px);
    position: absolute; 
    /* text-decoration: none; */
}
.dropdown {
  float: left;
  owerflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(249, 105, 53);
}
.dropdown-content {
  display: none;
  position: absolute;
  /* background: repeating-radial-gradient(#ed2222, #150d0d 35px); */
  background-color: #e77070;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #bc4f4f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.px-wide{
        letter-spacing: 4px;
        text-transform: uppercase;
        text-shadow: 5px 5px #558ABB;
        text-decoration: green wavy underline;
        text-align: end;
        text-indent: 30%;
        vertical-align: top;
        color: #ed2222;
}
div.main {
    left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    height: 90%;
    overflow: scroll;
    background-color:beige;
    position: absolute;  
    background: no-repeat center url("images_1/pik_1.jpg");
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}
#gradient {
    width: 90%;
    border: 5px solid green;
    /* border-image: repeating-linear-gradient(45deg, #f33, #3bf, #f33 30px) 60; */
    padding: 20px;
    border-top-right-radius: 90px;
    box-shadow: 40px -16px teal;
  }
span[F]{
    color: red;
}
div.footer {
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
    overflow: scroll;
    background-color: rgb(255,182,193);
    position: absolute;
}

tbody tr:nth-child(odd) {
    background-color: #ddc04c;
  }
  
  tbody tr:nth-child(even) {
    background-color: #86c045;
  }
  
  /* tbody tr {
    background-image: url("images_1/pik_1.jpg");
  } */


table{
    table-layout: fixed;
  width: 100%;
  text-align: right;
  font-style: italic;
  border-collapse: collapse;
  border: 3px solid purple;
}
.box{
  border-style: solid;
  border-width: 1px;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #4d9f0c;
  -webkit-transition:
    width 1s,
    height 1s,
    background-color 1s,
    -webkit-transform 1s;
  transition:
    width 1s,
    height 1s,
    background-color 1s,
    transform 1s;
}
.box:hover {
  background-color: #e3ab10;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
:root{
  overflow: hidden;
  display: flex;
  justify-content: center;
}
h1{
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    /* margin-left: 100%; */
    width: 300%;

  }
  
  to {
    /* margin-left: 0%; */
    width: 100%;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover::after{
  content: "Видишь подсказку? А она есть.";
  position: absolute;
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  background-color: aliceblue;
}
/* .gallery img{
  transition: transform 1s ease-in-out;
  } */
.gallery img:hover{
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
.flex-container {
  display: flex;
  height: 500px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-container .flex_1 {
  background-color: #e54e4e;
  font-size: 18px;
}
.flex-container .flex_2 {
  background-color: #4d9f0c;
  font-size: 8px;
}
.flex-container .flex_3 {
  background-color: #f6b73c;
  font-size: 16px;
}
/*Для смартфонов*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main{
    font-size: 12px;
  }
}
/*Для ipad*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main{
    font-size: 14px;
  }
}
/* Настольные компьютеры и ноутбуки */
@media only screen  and (min-width: 1080px) {
  .main{
    font-size: 18px;
  }
}